/* navbar */
.navbar-brand {
    font-family: viga;
    font-size: 32px;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.nav-link {
    text-transform: uppercase;
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-right: 30px;
}
.navbar .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
/* jumbitron */
.jumbotron {
    background-image: url(img/jumbo.jpg);
    background-size: cover;
    height: 640px;
    margin-top: -75px;
    color: white;
}
.jumbotron .display-4 {
    text-align: center;
    margin-top: 150px;
    font-family: viga;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.jumbotron p {
    text-align: center;
    font-family: viga;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-top: 250px;
}
/* k */
.kotak {
    background-color:whitesmoke;
    height: 1280px;
    width: 1300px;
    margin-left: 25px;
    border: 1px solid black;
}
.kotak h1 {
    text-align: left;
    margin-left: 30px;
}
.kotak .sejarah h2 {
    text-align: center;
}
.kotak .sejarah p {
    text-align: center  ;
}
.kotak .visi-misi h1 {
    text-align: left;
    margin-left: 30px;
}
.kotak .visi-misi h2 {
    text-align: center;
}
.kotak .visi-misi p {
    text-align: center;
}
/* w */
.kotak .galeri .carousel {
    width: 100%;
    height: 400px;
}
/* ;l */
.kotak .kontak h3 {
    margin-left: 30px;
}
.kotak .kontak p {
    margin-left: 30px;
}
/* rfg */
.footer p {
    text-align: center;
    margin-top: 10px;
}